// Typography sizes
text-default = 22px
text-large = 26px
text-medium = 18px
text-small = 16px
text-smallest = 12px

title-main = 52px
title-sub = 39px
title-small = 30px

// Palette - background colors
palette-bg-primary = #000000
palette-bg-secondary = #6E6E6E
palette-bg-tretiary = #9D9D9D
palette-bg-green = #51b500
palette-bg-blue = #5A96C8
palette-bg-red = #c4372d
palette-bg-firm = #D78E39
palette-bg-white = #FFFFFF

// Palette - text colors
palette-color-primary = #000000
palette-color-secondary = #6E6E6E
palette-color-tretiary = #9D9D9D
palette-color-green = #51b500
palette-color-blue = #5A96C8
palette-color-red = #c4372d
palette-color-firm = #D78E39
palette-color-white = #FFFFFF
