@import "./tokens.styl"

.text-default
  font-size text-default

.text-large
  font-size text-large

.text-medium
  font-size text-medium

.text-small
  font-size text-small

.text-smallest
  font-size text-smallest

.title-main
  font-size title-main

.title-sub
  font-size title-sub

.title-small
  font-size title-small

// Background color utility classes
.palette-bg-primary
  background-color palette-bg-primary

.palette-bg-secondary
  background-color palette-bg-secondary

.palette-bg-tretiary
  background-color palette-bg-tretiary

.palette-bg-green
  background-color palette-bg-green

.palette-bg-blue
  background-color palette-bg-blue

.palette-bg-red
  background-color palette-bg-red

.palette-bg-firm
  background-color palette-bg-firm

.palette-bg-white
  background-color palette-bg-white

// Text color utility classes
.palette-color-primary
  color palette-color-primary

.palette-color-secondary
  color palette-color-secondary

.palette-color-tretiary
  color palette-color-tretiary

.palette-color-green
  color palette-color-green

.palette-color-blue
  color palette-color-blue

.palette-color-red
  color palette-color-red

.palette-color-firm
  color palette-color-firm

.palette-color-white
  color palette-color-white
