text-default = 22px
.text-default
  font-size text-default
text-large = 26px
.text-large
  font-size text-large
text-medium = 18px
.text-medium
  font-size text-medium
text-small = 16px
.text-small
  font-size text-small
text-smallest = 12px
.text-smallest
  font-size text-smallest

title-main = 52px
.title-main
  font-size title-main
title-sub = 39px
.title-sub
  font-size title-sub
title-small = 30px
.title-small
  font-size title-small

palette-bg-primary = #000000
.palette-bg-primary
  background-color palette-bg-primary
palette-bg-secondary = #6E6E6E
.palette-bg-secondary
  background-color palette-bg-secondary
palette-bg-tretiary = #9D9D9D
.palette-bg-tretiary
  background-color palette-bg-tretiary
palette-bg-green = #51b500
.palette-bg-green
  background-color palette-bg-green
palette-bg-blue = #5A96C8
.palette-bg-blue
  background-color palette-bg-blue
palette-bg-red = #c4372d
.palette-bg-red
  background-color palette-bg-red
palette-bg-firm = #D78E39
.palette-bg-firm
  background-color palette-bg-firm
palette-bg-white = #FFFFFF
.palette-bg-white
  background-color palette-bg-white

palette-color-primary = #000000
.palette-color-primary
  color palette-color-primary
palette-color-secondary = #6E6E6E
.palette-color-secondary
  color palette-color-secondary
palette-color-tretiary = #9D9D9D
.palette-color-tretiary
  color palette-color-tretiary
palette-color-green = #51b500
.palette-color-green
  color palette-color-green
palette-color-blue = #5A96C8
.palette-color-blue
  color palette-color-blue
palette-color-red = #c4372d
.palette-color-red
  color palette-color-red
palette-color-firm = #D78E39
.palette-color-firm
  color palette-color-firm
palette-color-white = #FFFFFF
.palette-color-white
  color palette-color-white
