default = 22px
.text-default
  font-size default
medium = 18px
.text-medium
  font-size medium
small = 16px
.text-small
  font-size small
smallest = 12px
.text-smallest
  font-size smallest

main = 52px
.title-main
  font-size main
sub = 39px
.title-sub
  font-size sub
small = 30px
.title-small
  font-size small

primary = #000000
.palette-bg-primary
  background-color primary
secondary = #6E6E6E
.palette-bg-secondary
  background-color secondary
tretiary = #9D9D9D
.palette-bg-tretiary
  background-color tretiary
green = #51b500
.palette-bg-green
  background-color green
blue = #5A96C8
.palette-bg-blue
  background-color blue
red = #c4372d
.palette-bg-red
  background-color red
firm = #D78E39
.palette-bg-firm
  background-color firm
white = #FFFFFF
.palette-bg-white
  background-color white

.palette-color-primary
  color primary
.palette-color-secondary
  color secondary
.palette-color-tretiary
  color tretiary
.palette-color-green
  color green
.palette-color-blue
  color blue
.palette-color-red
  color red
.palette-color-firm
  color firm
.palette-color-white
  color white
